$color_main: #008a87;
$color_nav: #f2f2f2;
$color_border: #e3e3e3;
$color_header: #fff;
$color_body: #fff;
$color_text: #383c46;
$color_title: #000;
$color_button: #fff;

$color_footer: #383c46;
$color_footer_text: #828692;
$color_footer_title: #fff;
$color_footer_strong: #fff;

// Bootstrap
$primary: $color_main;
$body-bg: $color_footer;
$body-color: $color_text;

$link-color: $color-main;
$link-hover-decoration: none;
$link-hover-color: $link-color;

$headings-color: $color_title;
