@import './sass/colors';
@import './sass/bootstrap';

.footer {
  width: 100%;
  padding: 6.5rem 0;
  @include media-breakpoint-up(lg) {
    width: 80%;
    padding: 4.25rem 0;
  }
  @include media-breakpoint-up(xl) {
    width: 940px;
  }

  background: $color_footer;
  color: $color_footer_text;

  h2 {
    color: $color_footer_title;
  }

  a,
  a:hover,
  a:active,
  strong {
    color: $color_footer_strong;
  }

  a:hover,
  a:active {
    text-decoration: none;
    border-bottom: 1px dotted $color_footer_strong;
  }
}
